/* Setting total width and height for webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Font and color setup for header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* H1 font size and inline setup */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets text color for "seo" within Horiseon's name */
#seo {
    color: #d9dcd6;
}
/* Topics placemnt and size in top right of webpage */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Removes bullet points from topics list */
.header div ul {
    list-style-type: none;
}
/* Sets topics inline */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Topic link color and design */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Background image position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Image postion for SEO and Social Media Marketing sections in webpage body */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Image postion for Online Reputation Management section in webpage body */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Sets display blocks for topics */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets display block design for benefits listed on the right of the webpage in the body */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Text color and spacing of text within benefits section */
.benefits p {
    margin-bottom: 32px;
    color: #ffffff;
}
/* header size and placement in benefits section */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}
/* Icon placement in benefits section */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Sets display block specs for topics section of webpage */
.content-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets size of images in topics section */
.content-block img {
    max-height: 200px;
}

/* sets size and position of header in topics section */
.content-block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
